@model Portal.Models.ServiceModelDB.ServiceModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-end m-r-10">
    <a href="/InventoryRequest/Save" class="btn btn-success pull-right">Envanter Talebi</a>

</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Envanter Seçimi</th>
            <th>Ek Envanter Adı</th>
            <th>Envanter Açıklama</th>
            <th>Açıklama</th>
            <th>Tarih</th>
            <th colspan="2">İşlemler</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.inventoryRequestsList.OrderByDescending(x => x.Date))
        {
            var type = Model.ValueList.FirstOrDefault(x => x.ID == item.InventorySection);
        <tr>
            <td>@type.Name</td>
            <td>@item.AddInventoryName</td>
            <td>@item.InventoryDescription</td>
            <td>@item.Description</td>
            <td>@item.Date.Value.ToString("dd-MM-yyyy hh:mm")</td>
            <td><a class="btn btn-primary" href="/InventoryRequest/Save/@item.ID">Düzenle</a></td>
            <td><button class="btn btn-danger btnDelete" data-id="@item.ID" data-url="/InventoryRequest/Delete">Sil</button></td>
        </tr>
        }
    </tbody>

</table>

